/*TODO:
  scale based on screen size
*/

/*Import fronts*/
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    scroll-behavior: smooth;
}

body {
  margin: auto;
}

/*Scroll bar settings*/
/* Width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #777;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333333;
  transition-duration: 1.4s;
}

/* links should have the same style */
.link {
  text-decoration: none;
  border-bottom: 1px solid;
}

/* outer-box-container for header */
.outer-box-container {
  color: #f3f7f7;
  overflow: hidden;
  background: -webkit-linear-gradient(28deg, hsla(145, 84%, 73%, 1) 0%, hsla(150, 61%, 48%, 1) 100%);
}

/* contacts link at the top of the page */
.contact {
  text-align: center;
  clear: both;
  padding: 6px 0 0 0;
}

#contact-medium {
  display:inline-grid;
}

#contact-medium a {
  opacity: .5;
  border-radius: 50%;
  transition: 1s;
}

#contact-medium a:hover {
  opacity: 1;
  transition: all 1.4s ease-in-out;
}

.outer-box-container svg {
  display: block;
}

/* container for the content section of the page */
.container {
  display: block;
  margin: auto;
  width: 66%;
}

/* Qrill section for the sections I want to add contents to */
.qrill-section {
  display: grid;
  grid-template-row: auto auto auto auto;
  -webkit-box-shadow: 0 4px 6px -8px #777;
  -moz-box-shadow: 0 4px 6px -8px #777;
  box-shadow: 0 4px 6px -8px #777;
  padding: 4% 0 4% 0;
}

.section-title {
  grid-row-start: 1;
  grid-row-end: 1;
  color: #333333;
  font: italic bolder 7.6vw 'Open Sans', sans-serif;
  opacity: .8;
  padding: 0 0 2% 0;
}

.section-content {
  color: #404F4D;
  font: lighter 1.3vw 'Poppins', sans-serif;
}

#profile {
  display: grid;
  grid-template-colums: auto auto auto auto;
}

#picture {
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 4%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#picture img {
  width: 100%;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
}

#about {
  grid-column-start: 2;
  grid-column-end: 4;
  padding: 4%;
}

#about h1 {
  color: #282828;
  font: 400 3.2vw 'Open Sans', sans-serif;
}

#about p {
  color: #404F4D;
  font: lighter 1.3vw 'Poppins', sans-serif;
}

#about i {
  color: #3d405b;
}

#about a {
  color: #BCBF56;
}

#about a:hover {
  transition: color 0.5s ease .1s;
  color: hsla(150, 61%, 48%, 1);
  font: bolder;
}

/* section for connect with me */
#sec-contact {
  font: 2vw 'Spartan', sans-serif;
  text-shadow: 0 0 0 #777;
}

/* Section for interests */
#interests a {
  color: #515931
}

#interests a:hover {
  transition: color 0.5s ease .1s;
  color: hsla(150, 61%, 48%, 1);
}

/* Section for skills*/

/* Section for footer */
.footer {
  text-align: center;
  overflow: hidden;
  background: -webkit-linear-gradient(28deg, hsla(145, 84%, 73%, 1) 0%, hsla(150, 61%, 48%, 1) 100%);
}

.footer p{
  overflow: hidden;
}
