/*TODO:
  scale based on screen size
*/

/*Import fronts*/
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    scroll-behavior: smooth;
}

body {
  margin: auto;
}

/*Scroll bar settings*/
/* Width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #777;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333333;
  transition-duration: 1.4s;
}

/* links should have the same style */
.link {
  text-decoration: none;
  border-bottom: 1px solid;
}

/* container for the content section of the page */
/*
.scroll-container {
}
*/

/*Cite sections*/
section {
  display: flex;
  height: 100vh
}

.container {
  color: #222831;
  font: lighter 1.4vw 'Open Sans', sans-serif;
  margin: auto;
  width: 70%;
}

/*
.full-section {
}
*/

/* Section attributes */
.section-title {
  grid-row-start: 1;
  grid-row-end: 1;
  color: #30475E;
  font: italic 3.2vw 'Poppins', sans-serif;
  opacity: .8;
  padding: 0 0 2% 0;
}

.section-content {
  color: #404F4D;
  font: 1.5vw 'Open Sans', sans-serif;
}

/*Section for profile*/
section.about-me {
  height: 75vh;
}

#profile {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

#picture {
  grid-column-start: 1;
  grid-column-end: 1;
  padding: 4%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#picture-container {
  border-radius: 50%;
}

#picture img {
  border-radius: 50%;
  width: 100%;
}

#about {
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5%;
}

#greeting {
  font-weight: bold;
  font-size: 1.8vw;
  color: #A7BBC7;
}

#about h1 {
  margin: 4px;
  padding-left: 10%;
  color: #30475E;
  font: bolder 2.6vw 'Poppins', sans-serif;
}

#about i {
  color: #3d405b;
}

#about a {
  color: #BCBF56;
}

#about a:hover {
  transition: color 0.5s ease .1s;
  color: hsla(150, 61%, 48%, 1);
  font: bolder;
}

/* Section for connect with me */
section.contact-me {
  height: 40vh;
}

#sec-contact {
  font: 2vw 'Spartan', sans-serif;
  text-shadow: 0 0 0 #777;
}

.contact {
  text-align: center;
  clear: both;
  padding: 6px 0 0 0;
}

#contact-medium {
  display:inline-grid;
}

#contact-medium a {
  opacity: .5;
  border-radius: 50%;
  transition: 1s;
}

#contact-medium a:hover {
  opacity: 1;
  transition: all 1.4s ease-in-out;
}

/* Section for interests */
section.my-interests {
  background: #e4efe7;
}

#interests a {
  color: #515931
}

#interests a:hover {
  transition: color 0.5s ease .1s;
  color: hsla(150, 61%, 48%, 1);
}

/* contacts link at the top of the page */


.outer-box-container svg {
  display: block;
}

/* Section for skills*/
/*
section.skills {
}
*/

/* Section for footer */
.footer {
  height: 20vh;
  text-align: center;
  overflow: hidden;
  background: #3C887E;
}

.footer p{
  overflow: hidden;
}
